In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Novikovo,RU,2022-08-01 04:52:02,51.1537,37.8879,67.48,55,72,10.98
1,1,Bredasdorp,ZA,2022-08-01 04:51:38,-34.5322,20.0403,40.78,85,0,3.56
2,2,Fukue,JP,2022-08-01 04:52:02,32.6881,128.8419,82.76,94,75,20.71
3,3,Hobart,AU,2022-08-01 04:52:03,-42.8794,147.3294,53.46,67,75,23.02
4,4,Vaini,TO,2022-08-01 04:52:04,-21.2000,-175.2000,78.96,94,75,6.91

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Fukue,JP,2022-08-01 04:52:02,32.6881,128.8419,82.76,94,75,20.71
4,4,Vaini,TO,2022-08-01 04:52:04,-21.2000,-175.2000,78.96,94,75,6.91
6,6,Acarau,BR,2022-08-01 04:52:04,-2.8856,-40.1200,76.55,86,2,14.81
15,15,Chokurdakh,RU,2022-08-01 04:52:08,70.6333,147.9167,80.13,35,94,12.24
18,18,Bandarbeyla,SO,2022-08-01 04:52:09,9.4942,50.8122,81.68,58,31,28.14
21,21,Butaritari,KI,2022-08-01 04:52:11,3.0707,172.7902,82.40,73,76,14.52
27,27,Hithadhoo,MV,2022-08-01 04:52:13,-0.6000,73.0833,81.12,71,93,15.26
29,29,Atuona,PF,2022-08-01 04:50:26,-9.8000,-139.0333,77.25,74,13,11.41
31,31,Brownsville,US,2022-08-01 04:50:35,25.9018,-97.4975,82.90,79,0,5.75
40,40,Airai,TL,2022-08-01 04:52:19,-8.9266,125.4092,75.96,47,64,2.66

In [11]:
preferred_cities_df.count()

City_ID       184
City          184
Country       184
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
2         Fukue      JP     82.76  32.6881  128.8419
4         Vaini      TO     78.96 -21.2000 -175.2000
6        Acarau      BR     76.55  -2.8856  -40.1200
15   Chokurdakh      RU     80.13  70.6333  147.9167
18  Bandarbeyla      SO     81.68   9.4942   50.8122
21   Butaritari      KI     82.40   3.0707  172.7902
27    Hithadhoo      MV     81.12  -0.6000   73.0833
29       Atuona      PF     77.25  -9.8000 -139.0333
31  Brownsville      US     82.90  25.9018  -97.4975
40        Airai      TL     75.96  -8.9266  125.4092

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Fukue,JP,82.76,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental
4,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
6,Acarau,BR,76.55,-2.8856,-40.1200,castelo pizzaria
15,Chokurdakh,RU,80.13,70.6333,147.9167,
18,Bandarbeyla,SO,81.68,9.4942,50.8122,
21,Butaritari,KI,82.40,3.0707,172.7902,
27,Hithadhoo,MV,81.12,-0.6000,73.0833,
29,Atuona,PF,77.25,-9.8000,-139.0333,
31,Brownsville,US,82.90,25.9018,-97.4975,
40,Airai,TL,75.96,-8.9266,125.4092,

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [30]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))